.recipe-container {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: flex-start;
}

.item-container {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background: transparent;
}

.recipeplan-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
}

.recipeplan-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.recipeplan-navigation {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

#title-week {
    color: #202224;
    margin: 0;
    text-align: center;
    font-family: 'Avenir';
    font-size: 30px;
    font-weight: 800;
    line-height: 41px;
}

#title-weekdays {
    margin: 0;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.35385px;
    color: #4F4F4F;
}

.recipeplan-selector {
    display: flex;
    color: gray;
    font-size: 1.5em;
    align-items: center;
    padding: 8px;
    margin: 0 32px 0 32px;
}

.recipeplan-selector > svg:active {
    width: 20px;
    height: 20px;
    padding: 2px;
}

.recipeplan-selector:hover {
    cursor: pointer;
}