.container {
    font-family: 'Avenir';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.promotional {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    order: 1;
}

.signin {
    display: flex;
    flex-direction: column;
    order: 0;
    padding: 40px;
}

.title {
    font-size: 80px;
    margin: 0;
    padding: 16px 0;
}

.description {
    margin: 0;
    padding: 16px 0;
    font-size: 26px;
    line-height: 36px;
    font-weight: 800;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    margin: -16px;
    padding: 48px 0;
}

.overlayTitle {
    margin: 0;
    font-size: 20px;
}

.overlayDescription {
    margin: 4px 0 0 0;
    font-size: 12px;
}

@media screen and (min-width: 900px) {
    .signin {
        order: 1;
    }

    .preview {
        order: 0;
    }
}