.empty-item {
    display: flex;
    width: 50vw;
    border-radius: 4px;
    border: 2px dashed lightgray;
    justify-content: center;
    align-items: center;
}

.empty-item-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.droppable-entered {
    -webkit-animation-name: enter-droppable;
    -webkit-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: enter-droppable;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes enter-droppable {
    from { background-color: rgb(247, 247, 247); }
    to { background-color: rgb(235, 235, 235); }
}

@-webkit-keyframes enter-droppable {
    from { background-color: rgb(247, 247, 247); }
    to { background-color: rgb(235, 235, 235); }
}
