.circle-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    min-height: 160px;
    width: 96px;
    min-width: 96px;
}

.circle-container:before {
    content: '';
    position: absolute;
    top: 32px;
    left: 50%;
    border-top: 1.5px solid lightgray;
    width: 50%;
    transform: translateY(-50%);
}

.circle-left-box {
    width: 32px;
    border-right: 1.5px solid lightgray;
}

.circle {
    position: absolute;
    display: flex;
    width: 64px;
    height: 64px;
    top: 0%;
    left: 0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
}
