.card-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 120px;
    margin: 8px;
    border-radius: 12px;
    overflow-y: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.promo-card {
    align-items: stretch;
    flex-direction: column;
    width: 375px;
    height: 554px;
}

.default-card {
    position: relative;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    height: 24vh;
    box-shadow: 0px 1.5px 4px 1px #c4c4c4;
    margin: 0;
    cursor: pointer;
}

.open-external {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
    border-radius: 4px;
    align-self: flex-end;
    flex: 2 0 auto;
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .default-card {
        width: 80%;
        height: 32vh;
    }
}

@media screen and (min-width: 1201px) {
    .default-card {
        width: 50%;
    }
}