.meal-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    background-color: white;
    width: 50vw;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    color: rgb(118, 118, 118);
}

.meal-item:hover {
    cursor: pointer;
}

.meal-item-today {
    padding: 8px;
}

.meal-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px;
}

.meal-thumbnail {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    border-radius: 24px;
}

.meal-header-content {
    flex-direction: row;
    margin-left: 16px;
}

.meal-title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.meal-description {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

.meal-chip-container {
    display: inline-flex;
    padding: 8px;
    margin: 0 -4px 0 -4px;
}