@font-face {
  font-family: 'Avenir';
  src: url(./assets/fonts/Avenir.ttc)
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url(./assets/fonts/Lato-Bold.ttf)
}

html, body, #root {
  min-height: 100vh;
}

.App {
  background-color: #FFFFFF;
  font-family: 'Lato';
  min-height: 100vh;
  color: #3D3D3D;
}

.App-link {
  color: #61dafb;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 24px;
}